<p id="notice"><%= notice %></p>

<h1>Userlogins</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userlogins.each do |userlogin| %>
      <tr>
        <td><%= userlogin.name %></td>
        <td><%= userlogin.mobile %></td>
        <td><%= userlogin.email %></td>
        <td><%= userlogin.address %></td>
        <td><%= link_to 'Show', userlogin %></td>
        <td><%= link_to 'Edit', edit_userlogin_path(userlogin) %></td>
        <td><%= link_to 'Destroy', userlogin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userlogin', new_userlogin_path %>
